<!DOCTYPE html>
{%load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Register page</title>
	<meta name="description" content="Here is code example of CSS simple login form. See the demo and downlaod free login form template. The form have quite uniqe design with username, password and a button fields." />
    <meta name="author" content="Codeconvey" />
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_style/demo.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'login_style/style.css' %}" />
</head>
<body>
		
<

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>REGISTER</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
             
             <div class="simpleLogin">
              <form method="post" action="register2/">
                {% csrf_token %}

                <legend>Let's register</legend>
                <fieldset>
                  <font color="red">{{umsg}}</font>
                  
                  <input id="name" placeholder="username" type="text" name="uname" required>
                  <input id="name" placeholder="firstname" type="text" name="fname">
                  <input id="name" placeholder="lastname" type="text" name="lname">
                  <font color="red">{{emsg}}</font>
                  <input id="name" placeholder="email" type="text" name="ename" required>
                  <font color="red">{{rmsg}}</font>
                  <input id="pass" placeholder="Password" type="password" name="pname" required>
                  <input id="pass" placeholder="re_Password" type="password" name="rename" required>
                  <input id="submit" type="submit" value="register">
                </fieldset>
              </form>
              <p style="text-align:center;"></p>
            </div>
    
		</div>
    </div>
</section>
     

    
	</body>
</html>